<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ActivityrecordsMapper">

    <sql id="Base_Column_List">
        id,activity_id,user_id,time
    </sql>

    <select id="selectAll" resultType="com.example.entity.Activityrecords">
        select
        activityrecords.*,user.name as userName,activity.name as activityName
        from activityrecords
        left join user on activityrecords.user_id = user.id
        left join activity on activityrecords.activity_id = activity.id
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="activityId != null"> and activity_id = #{activityId}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="time != null"> and time like concat('%', #{time}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectByUserId" resultType="com.example.entity.Activityrecords">
        select activityrecords.*,activity.name as activityName,activity.img as activityImg,activity.introduce as introduce
        from activityrecords
        left join activity on activityrecords.activity_id = activity.id
        where activityrecords.user_id = #{id}
    </select>



    <select id="selectById" resultType="com.example.entity.Activityrecords">
        select
        <include refid="Base_Column_List" />
        from activityrecords
        where id = #{id}
    </select>

    <select id="selectByActivityId" resultType="com.example.entity.Activityrecords">
        select
            activityrecords.*,user.name as userName,user.img as userImg
        from activityrecords
        left join user on activityrecords.user_id = user.id
        where activity_id = #{id}
    </select>

    <delete id="deleteById">
        delete from activityrecords
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Activityrecords" useGeneratedKeys="true" keyProperty="id">
        insert into activityrecords
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="activityId != null">activity_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="activityId != null">#{activityId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Activityrecords">
        update activityrecords
        <set>
            <if test="activityId != null">
                activity_id = #{activityId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>