<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <sql id="Base_Column_List">
        id,username,password,name,introduce,birthday,phone,role,gender,img,status,lasttime
    </sql>

    <select id="selectAll" resultType="com.example.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="username != null"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null"> and password like concat('%', #{password}, '%')</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
            <if test="introduce != null"> and introduce like concat('%', #{introduce}, '%')</if>
            <if test="birthday != null"> and birthday like concat('%', #{birthday}, '%')</if>
            <if test="phone != null"> and phone like concat('%', #{phone}, '%')</if>
            <if test="role != null"> and role like concat('%', #{role}, '%')</if>
            <if test="gender != null"> and gender like concat('%', #{gender}, '%')</if>
            <if test="img != null"> and img like concat('%', #{img}, '%')</if>
            <if test="status != null"> and status like concat('%', #{status}, '%')</if>
            <if test="lasttime != null"> and lasttime like concat('%', #{lasttime}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.User">
        select
        <include refid="Base_Column_List" />
        from user
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from user
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="introduce != null">introduce,</if>
            <if test="birthday != null">birthday,</if>
            <if test="phone != null">phone,</if>
            <if test="role != null">role,</if>
            <if test="gender != null">gender,</if>
            <if test="img != null">img,</if>
            <if test="status != null">status,</if>
            <if test="lasttime != null">lasttime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="introduce != null">#{introduce},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="phone != null">#{phone},</if>
            <if test="role != null">#{role},</if>
            <if test="gender != null">#{gender},</if>
            <if test="img != null">#{img},</if>
            <if test="status != null">#{status},</if>
            <if test="lasttime != null">#{lasttime},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.User">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="introduce != null">
                introduce = #{introduce},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="lasttime != null">
                lasttime = #{lasttime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>